/* 🔹 Fondo de toda la página */
body {
    font-family: Arial, sans-serif;
    background-image: url("https://media.istockphoto.com/id/926731032/vector/abstract-low-poly-triangular-modern-geometric-background.jpg?s=170667a&w=0&k=20&c=g4TJSrY9ug7DVGJL97CfxZc4UvapkrQEk2C-IRs6m88="); /* puedes cambiarla */
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin: 0;
    padding: 20px;
}

/* 🔹 Título principal */
h1 {
    text-align: center;
    color: #ffff00;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(255, 0, 0);
    text-shadow: 0 0 10px #ffbb00, 0 0 20px #000000, 0 0 30px #ff0000, 0 0 40px #ff0000;
}

/* 🔹 Subtítulos */
h2 {
    color: #ffd900;
    border-bottom: 2px solid #ffff00;
    padding-bottom: 5px;
    text-shadow: 0 0 10px #ff0000, 0 0 20px #000000, 0 0 30px #ff0000, 0 0 40px #ff0000;
}








/* 🔹 Secciones */
h3 {
    color: #ffd900;
    text-shadow: 0 0 10px #ffa600, 0 0 20px #ffa600, 0 0 30px #00ff00, 0 0 40px #00ff00;
    margin-top: 20px;

    
}





/* 🔹 Cuadro principal */
.box {
    background-color: rgba(0, 0, 0, 0.7); /* fondo oscuro transparente */
    color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0px 0px 20px rgb(255, 242, 0);
}




/* 🔹 Imágenes más pequeñas */
img {
    width: 150px;       /* tamaño reducido */
    height: auto;
    border-radius: 10px;
    margin: 10px 0;
    margin-right: 0px;

    display: block;
    margin-left: auto;
    
}

/* 🔹 Checkboxes y texto */
input[type="checkbox"] {
    margin-right: 10px;
}

/* 🔹 Espaciado general */
br {
    margin-bottom: 100px;
}




    .footer {
        text-align: center;
        padding: 10px;
        background-color: #000000;
        color: white;
        margin-top: 70px;
    }

    .cuadro {
        background-color: rgba(0, 0, 0, 0.651); /* fondo oscuro transparente */
        color: rgb(255, 255, 0);
        text-shadow: 0 0 10px #ff0000, 0 0 20px #000000, 0 0 30px #ff0000, 0 0 40px #ff0000;
        padding: 20px;
        border-radius: 20px;
        max-width: 800px;
        margin: auto;
        box-shadow: 0px 0px 20px rgb(0, 0, 255);
    }







    .texto {
        text-align: left;
        color: rgb(255, 255, 255);
        text-shadow: 0 0 10px #fff700, 0 0 20px #ffa200, 0 0 30px #ff0000, 0 0 40px #ff0000;
        padding: 15px;
        border-radius: 20px;
        max-width: 800px;
        margin: auto;
        box-shadow: 0px 0px 10px rgb(255, 149, 0);
    }